:root {
    --white-clr: #fff;
    --dark-clr: #1a1a1a;
    --red-color: rgb(155, 11, 11);
    --white-clr-2: #ececec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: var(--white-clr);
}

.container.dark {
    --white-clr: #1a1a1a;
    --dark-clr: #fff;
    --red-color: rgb(155, 11, 11);
    --white-clr-2: #3a3a3a, ;
}

.clock {
    height: 400px;
    width: 400px;
    background-color: var(--white-clr-2);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock .outer {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i)*30deg));
}

.clock .outer .inner {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: var(--dark-clr);
    font-size: 1.7rem;
    display: inline-block;
    transform: rotate(calc(var(--i)*-30deg));
}

.container .indicator {
    position: absolute;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
}

.container .indicator::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--red-color);
    border-radius: 50%;
    z-index: 1000;
    border: 4px solid black;
}

.container .hand {
    position: absolute;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
    height: 130px;
    width: 4px;
    background-color: var(--red-color);
}

.hand.minute {
    height: 120px;
    width: 6px;
    background-color: var(--dark-clr);
}

.hand.hour {
    height: 100px;
    width: 8px;
    background-color: var(--dark-clr);
}

.theme-switch {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.7rem;
    color: var(--white-clr-2);
    background-color: var(--dark-clr);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}

/* inset => top left bottom right değerleri için kısayol özelliği    
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    yerine kullanılır    
*/